tmp/*
example/tmp

test/.test_cov.dart
coverage/
coverage_badge.svg

.DS_Store

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
tmp/
download/